<markdown>

Chers fans de l'init libre, le collectif d'admins vétérans d'Unix te salue ! 

Notre projet s'appelle "Devuan".

Devuan est écrit en Italien et se prononce comme "DevOne" en anglais.

Les développeurs Devuan peuvent être contactés à cette adresse onelove@devuan.org.

## D'accord les gars, pas de problèmes avec les noms, mais quel est le programme ? 

Nous avons commencé la construction d'une infrastructure afin d'héberger un site web, une liste de diffusion et un dépot de paquets "Dak".

Nous avons déposé du code sur le groupe [https://github.com/devuan](https://github.com/devuan), que nous prévoyons d'utiliser comme plateforme de développement, au moins au début.

Nous allons mettre en place un BTS qui nous permettra d'utiliser plusieurs outils de developpement Debian, et nous prévoyons d'avoir un systême d'intégration continue pour nos paquets qui iront de GitHub vers [Jenkins](http://jenkins-debian-glue.org/) pour finir sur nos dépots.

Nous prévoyons d'améliorer plusieurs outils qui etaient utilisés pour le développement de Debian, en gardant les dépots "stable", "testing" et "unstable" que les utilisateurs et developpeurs downstreams peuvent utiliser.

Bientôt, nous serons prêts a accueillir les mainteneurs de paquets, et ensuite nous nous concentrerons sur l'amélioration du flux d'intégration continue, la communication, et la prise de décision pour l'architecture en accord avec des projets comme [D-CENT](http://d-centproject.eu/). A part le systême de paquets spécifique à BTS nous allons utiliser [GitHub](https://github.com/devuan/devuan-baseconf/issues) pour coordonner les tâches.

Le premier paquet de Devuan est ```devuan-baseconf``` : un installeur Debian configuré pour ```sysvinit-core``` et quelques paquets devuan contenant un trousseau de clefs, un dépot qui indique les fichiers et les paramètres de priorité et dépendances ("pinning"). Lorsque que ce paquet est installé et mis a jour systemd n'est plus nécéssaire en tant que PID 1 et adopte ```systemd-shim``` uniquement lorsque c'est nécéssaire.

## Qu'est ce que Devuan devrait être alors ? Est ce vraiment un fork ?

C'est seulement le début d'un processus, même si cela parait important de l'appeller "fork de Debian". Cette nouvelle direction étant plutôt un soulagement pour certains d'entre nous, qui nous guidera vers un espace de travail ou nous serons plus à l'aise avec sa progression.

L'objectif de Devuan est d'être une distribution dont la mission est de protéger la liberté de sa communauté d'utilisateurs et de développeurs. Sa priorité est de permettre la diversité, l'intéroperabilité et la retro compatibilité pour les utilisateurs Debian et pour les distributions qui veulent préserver le choix du systême d'init.

Devuan réalisera son installeur et ses dépots de paquets à partir de Debian, en modifiant ce qui est nécéssaire, la priorité étant de supprimer systemd, tout en gardant le flux de développement de Debian, alors que nous prendrons un autre chemin : libéré du superflu comme une distribution minimaliste se doit d'être. Notre objectif, pour le printemps 2015, sera de permettre aux utilisateurs de migrer de Debian 7 à Devuan 1 facilement, comme si vous souhaitez "dist-upgrade" depuis Jessie et pour commencer à utiliser notre dépôt de paquets.

Devuan fera l'effort de reconstruire une infrastructure similaire à Debian, mais prendra aussi l'initaitive d'innover certaines de ses pratiques. Les développeurs Devuan regardent ce projet comme l'opportunité d'un nouveau départ pour une communauté de gens passionnés dont l'intention n'est pas de blesser une hiérarchie et bureaucratie au dela des cas d'urgence. Nous sommes bien conscients que c'est possible pour nous par ce que nous démarrons modestement ; nous feront de notre mieux pour éviter certaines erreurs et nous souhaitons la bienvenue à tous les développeurs Debian qui souhaite nous rejoindre sur ce chemin.

La distribution Devuan fera un effort pour améliorer les relation upstream et downstream tout particulièrement lors des phases de gestation, fera de son mieux pour accomoder les besoins des distributions filles qui veulent adopter sa base. Nous attendons avec impatience les remontées de ces distributons tout comme leur participation dans notre phase de plannification.

Devuan fera de son mieux pour rester minimaliste et se conformer à la philosophie UNIX "faire une chose et le faire bien". Devuan se perçoit non pas comme un produit final, mais comme un point de départ pour développeurs, une base fiables pour les administratueurs systêmes et un outil stable pour les personnes qui ont de l'expérience sur Debian. Devuan ne fera jamais aucun compromis pour plus d'efficacité au coût de la liberté de ses utilisateurs, plutôt que de laisser ces préoccupations aux choix faits par les développeurs downstream. 

## Si vous avez besoin de Devuan, alors rejoignez nous et aidez nous ! 

Designers et créatifs : contribuez avec vos artworks!

Dons : [https://devuan.org/donate.html](https://devuan.org/donate.html)

GitHub : [https://github.com/Devuan](https://github.com/Devuan)

Wiki : [http://without-systemd.org/wiki](http://without-systemd.org/wiki)

Ce que vous devez savoir sur systemd : [http://neofutur.net/systemd-vault](http://neofutur.net/systemd-vault)

Discussion généraliste (liste de diffusion anglophone) : [https://mailinglists.dyne.org/cgi-bin/mailman/listinfo/dng](https://mailinglists.dyne.org/cgi-bin/mailman/listinfo/dng)

IRC sur Freenode :
  - #devuan-fr (communauté francophone)
  - #debianfork (discussion généraliste anglophone)
  - #devuan (Development).

Happy hacking!

## A propos de la communauté francophone

Vous êtes ici sur le site de communauté francophone de ce nouveau systême d'exploitation. Dans un premier temps, ce site est une traduction en Français du site [http://www.devuan.org](http://www.devuan.org). A l'avenir nous travaillerons, pour avoir notre propre identité.

Le site a été traduit par phaleon et hanx_.

Si vous avez des machines à nous prêter, pour maintenir ce site, nos projets... Contactez-nous !

</markdown>

