<markdown>

Chers fans de l'init libre, le collectif d'admins vétérans d'Unix te salue à nouveau !

Voici quelques nouvelles sur l'avancement du projet Devuan créé depuis la déclaration de [debianfork.org](debianfork.org) pour défendre notre communauté de plus en 
plus importante face à l'avalanche systemd.
 
Il y a pas mal de contenu pour cette mise à jour, nous allons donc organiser tout cela en plusieurs sections.

## Infrastructure

Un grand merci à notre camarade Franco Lanza Administrateur Unix vétéran pour tout le travail accompli, cela nous a permis de progresser énormement sur la 
configuration de l'infrastructure de Devuan, depuis les dépots de code jusqu'a la construction des paquetages. 

## Dépot du code source

A la demande générale, Devuan dispose à présent de  son propre dépot Git et ne dépend plus de Github qui peut être utilisé comme un miroir pour les bases d'un 
nouveau projet.

Devuan utilise Gitlab à l'adresse [https://git.devuan.org](https://git.devuan.org) comme origine pour le code source officiel Devuan, et aussi comme wiki pour la 
documentation, l'organisation, la rédaction et les contributions aux documents.

Nous acueillons et encourageons tous les fans de l'init libre qui développent des solutions pour résister à l'avalanche systemd  
a utiliser nos dépots pour leur code, a demander nos relectures et évaluation de code, et de manière raisonnable notre soutien financier. Ceux qui veulent participer 
sont les bienvenus et peuvent creer un compte à l'adresse : [https://git.devuan.org](https://git.devuan.org) et se faire connaître sur ```#devuan-dev``` 
(irc.freenode.net)

## Facilités de construction

C'est l'avançée la plus réçente sur l'infrastructure de développement : le premier paquetage ````devuan-baseconf``` a été construit sans générer d'erreurs à l'aide 
de notre système d'intégration continue et à partir des sources de notre dépot.

Le fil de construction : ```code -> fabrication -> paquetage``` pour Devuan est réalisé en utilisant ```git -> jenkins -> dak``` ce qui pose une route fluide pour 
automatiser l'intégration d'un code source mature vers le dépot de paquetages Devuan.

## Dépot de paquetages

C'etait la première partie de notre infrastructure a être configurée et mis en route, actuellement cela contient le paquetage
```debian-baseconf``` et c'est en train d'être testé dans différentes situations par exemple sur les premiers serveurs qui fonctionnent
avec Devuan ! [http://packages.devuan.org/devuan/](http://packages.devuan.org/devuan/)

Lors de la prochaine mise à jour nous pourrons avoir une série de paquetage prêts pour le beta-testing, sachant qu'un paquetage 
devuan gère les priorités basées sur Debian 8 Jessie, installe les composants, evite systemd et garde sysvinit par défaut comme PID1.

## Recherche

A part la consolidation de notre propre infrastructure, nous suivons de prés et soutenons toutes les avancées en matière de stratégies pour aider l'init libre.

## ConsoleKit2

Un chercheur trés prolifique connu sous le pseudo max2344 a réaliser des contributions trés  avisées et a déjà publié plusieurs dépots pour eviter systemd : 
ConsoleKit2, udisks2, policykit-1 et pcsc-lite [https://github.com/max2344?tab=repositories](https://github.com/max2344?tab=repositories).

A l'avenir nous souhaitons aider max2344 sur ces travaux, tester et si cela s'avère utile pour la version 1.0, intégrer ce code dans le fil de construction de 
Devuan. Pendant ce temps max2344 a mis en place un dépot indépendant pour tester ses paquetages à l'adresse 
[http://packages.psycast.de/devuan](http://packages.psycast.de/devuan).

## Loginkitd (working name)

Les recherches conduitent par Dimkr ont abouti à l'implémentation d'une alternative indépendante mais compatible à logind et libsystemd qui ne dépend pas d'un 
système d'initialisation spécifique. L'objectif de Loginkitd est de servir d'intermédiaire pour l'interface de logind mais utilisant ConsoleKit2 en 
reception/traitement des données. Ce travail a beaucoup progressé et à permis
de réveler plusieurs aspects non documentés sur la façon dont logind, DBus et GDM interagissent. 
[https://github.com/dimkr/LoginKit](https://github.com/dimkr/LoginKit) 

Dimkr est aussi l'auteur de "nosystem" une petite bibliothèque qui a pour but de remplacer libsystemd par des scripts/bouts de code 
[https://github.com/dimkr/nosystem](https://github.com/dimkr/nosystem)

Le Collectif d'administrateurs Unix vétérans a décider d'utiliser une partie des donations reçues sur devuan.org pour financer le matériel nécéssaire aux recherches 
de Dimkr.

## libudev1

Matteo Panella, un camarade développeur et administrateur unix vétéran travaille sur les capacités de libudev1 et prévoit de présenter bientôt certains de ses 
résultats. Il a participé activement aux discussions techniques sur notre première mailing liste.


## Quels sont les actualités importantes ? 

Parmi les projets qui ne sont pas directement liés a Devuan mais qui devraient être aidés et suivis de près, nous vous recommendons les suivants : 
	
    eudev [http://www.gentoo.org/proj/en/eudev/](http://www.gentoo.org/proj/en/eudev/)
    vdev [https://github.com/jcnelson/vdev](https://github.com/jcnelson/vdev)
    [https://www.freelists.org/post/modular-debian/Announcing-vdev](https://www.freelists.org/post/modular-debian/Announcing-vdev)
    uselessd [http://uselessd.darknedgy.net/](http://uselessd.darknedgy.net/)

Nous considérons aussi ces projets comme pouvant bénéficier de note aide financière : si vous faites partie de l'un de ces projets 
et en avez besoin n'hesitez pas à nous contacter ! Ecrivez nous à [onelove@devuan.org]

## Lecture recommandée


Nos amis de Troubleshooters.Com®, Linux Library and Init System Ideas présentent The [Manjaro Experiments]

La Documentation disponible sur le wiki généraliste [Without Systemd] augmente et représente la collection la plus importante de liens et d'informations à propos des 
initiatives visant a résister à l'avalanche systemd.

## Finances


Les finances du projet Devuan sont administrés par la fondation dyne.org, une structure internationale située à Amsterdam. 


dyne.org fait preuve de transparence financière et publiera les rapports financier de ce projet avec des mises à jour chaque année.


Le rapport financier courant pour 2014 est d'ors et déjà accessible ici : 
[https://devuan.org/devuan_financial_report_2014.pdf](https://devuan.org/devuan_financial_report_2014.pdf)


Nous adressons notre gratitude a tous les donateurs qui nous ont aidés jusqu'a présent même si le projet en est a ses débuts, ainsi qu'a toux ceux qui décideront de 
nous rejoindre à l'avenir. Pendant l'année 2015 nous avons l'intention d'utiliser les 
donations pour progresser vers la version 1.0 de Devuan, qui pourra remplacer Debian Jessie sans difficultés tout en gardant les utilisateurs à l'abri de l'avalanche 
systemd. A ce stade, tous les sponsors d'accord pour nous aider dans cette voie sont les bienvenus.

Les donations au projet Devuan peut être réalisées de plusieurs manières :

Vers le compte Paypal ```foundation@dyne.org``` avec la mention VUA
En utilisant le site internet [https://devuan.org/donate.html](https://devuan.org/donate.html)
Vers l'adresse bitcoin 1QFbx3bKA8LABAGEaSe7EiP9JCxe2j4fN7
Via transfert bancaire avec mention 'VUA donation' à : Dyne.org, banque ABN-AMRO (Amsterdam, The Netherlands), IBAN: NL87ABNA0406496021, BIC: ABNANL2A

## Communauté

La communauté Devuan grandit avec un rythme soutenu ! Voici quelques chiffres :
IRC (sur freenode.net)
	
    ```#debianfork``` compte en moyenne 300 personnes présentes
    (discussions generales, pas forcément lié a devuan)
    ```#devuan``` compte en moyenne 200 personnes présentes
    (discussions relatives à devuan)
    ```#devuan-dev``` est né avec un petit groupe 
    (discussions sur le développement de devuan, problèmes techniques essentiellement)

## Mailing liste (dng à https:/lists.dyne.org)

Actuellement avec 343 membres, notre mailing liste contient des discussions à propos de beaucoup de sujets, 
peu être un peu trop ;) et représente une part importante de ce projet.

Vous pouvez vous inscrire et consulter les archives sur :
[https://mailinglists.dyne.org/cgi-bin/mailman/listinfo/dng](https://mailinglists.dyne.org/cgi-bin/mailman/listinfo/dng)

Cela dit dng est maintenant également archivé sur GMane et disponible via NNTP
[http://dir.gmane.org/gmane.linux.devuan.devel](http://dir.gmane.org/gmane.linux.devuan.devel)

## Localisations / versions linguistiques

Des initiatives pour la traduction des informations à propos du projet Devuan ont démarré rapidement et de façon indépendantes
et nous adressons notre gratitude à toutes les personnes qui prennent cette initiative (Ndt : merci ;)). 
La version française sur [https://devuan.fr](https://devuan.fr) dispose déja d'une traduction de notre page d'accueil ! 

Donc 
Ne paniquez pas, on va fork Debian™! :-þ

Il ya aussi devuan.de qui se met en place pour traduire et fournir du contenu. A ce stade du projet, vous pouvez contribuer avec ce genre d'initiatives en traduisant 
dans votre langue maternelle.


## Logo

Il ya eu pas mal de fils de discussion sur la mailing liste à propos du logo Devuan et de la façon de présenter le projet.
Bien que ca ne soit pas une priorité pour nous maintenant, nous apprécions l'enthousiasme et la qualités des contributions.


Jettez un oeil sur la galerie présente sur le wiki [Without-systemd]
[http://without-systemd.org/wiki/index.php/Category:Logo](http://without-systemd.org/wiki/index.php/Category:Logo)

Ainsi que sur les travaux de design d'Alban Crommer pour Devuan

[http://albancrommer.github.io/devuan/Logo.pdf](http://albancrommer.github.io/devuan/Logo.pdf)
[http://albancrommer.github.io/devuan/](http://albancrommer.github.io/devuan/)

Merci ! Lorsque nous pourrons délivrer la version 1.0, nous aurons certainement choisi le meilleur logo. 
A ce jour la plupart des gens sont tres enthousiaste à propos du design "galaxy" d'Alban et des contributions de Petrek.

## Comment gérer les trolls ? 

Nous ne devons pas accepter l'idée selon laquelle les discussions à propos de systemd sont animés par des trolls qui se comportent
de façon agressive et utilisent l'attaque personnelle (ad hominem). Avec le projet Devuan et depuis la déclaration Debianfork nous avons fait de notre mieux pour 
éviter ce genre de dérives, pour ouvrir une discussion constructive et répondre activement à l'avalanche systemd avec des analyses et des solutions techniques. 

Nous demandons à la communauté qui tourne autour du projet Devuan, d'être serieux sur ce point et d'éviter les comportements agressif. Chacun de nous devrait faire 
preuve d'attention lorsqu'il discute des critiques et dans tous les cas éviter les opinions et s'en tenir aux faits.

Recemment sur notre mailing liste nous avons vus au moins deux fils de discussions qui ont traité le projet Devuan d'imposture.
Face à ce genre d'insultes et diffamations nous pensons pouvoir répondre avec calme et précision sur ce qui peut être une critique légitime, mais ne devrait en aucun 
cas devenir une attaque préjudiciable et déraisonnable.

Nous comprenons qu'en réponse à certaines agressions verbales, certains des membres de notre communauté ont agit contre les trolls au point d'exposer leurs identité 
et de les menacer de représailles. Le collectif des admins unix vétérans, la fondation Dyne.org, et son representant Denis Roio qui a aussi été la cible de ces 
agressions, ne souhaitent pas prendre part à ces représailles, n'approuvent pas ni ne désire être associés avec elles en aucun cas. Nous continuerons de faire tout 
notre possible pour que Devuan
reste un projet attractif, sans attaques personnelles et nous invitons les membres de notre communauté qui sont en conflit a s'arrêter et a ignorer les trolls. Nous 
continuerons de modérer activement la mailing list et les cannaux IRC avec un nombre croissant de volontaires pour éviter ce genre de situations.

Finalement, nous apprécions la dérision du compte twitter @shitdevuansays, pour la parodie au sujet de notre projet. Nous comprenons que c'est l'attitude des 
supporters de systemd et nous ne sommes pas offensés par cela, mais plutôt reconnaissant pour leur contributions à la notorieté de Devuan.

## C'est tout les gars !

Et merci pour toute l'aide et la participation, nous nous quittons avec  une bande désinée comique de commitstrip.com intitulée :
[Sytemd World : Le parc est ouvert] qui présente notre projet Devuan : nous sommes trés honorés de figurer à coté de Slackware, une ancienne et respectable 
distribution GNU/Linux qui semble en avoir encore beaucoup a apprendre même aux Admins Unix vétérans : 


Pour contacter les admins Unix vétérans : ecrivez à [onelove@devuan.org]
</markdown>


